
*{ margin:0; padding:0; }
#box{
    width:500px;
    height:30px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    border-radius:20px;
    border:3px solid #ccc;
}
#progress_bar{
    width:1000px;
    height:30px;
    position:absolute;
    left:0;
    border-radius:20px;
    background:-webkit-repeating-linear-gradient(135deg, #F0C 0%, #F0C 4%, #0FF 4%, #0FF 8%);
    background:repeating-linear-gradient(-45deg, #F0C 0%, #F0C 4%, #0FF 4%, #0FF 8%); top:0;

}
#smallBox{
    width:500px;
    height:30px;
    overflow:hidden;
    border-radius:20px;
    position:absolute;

}
#box2{
    width:500px;
    height:30px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    border-radius:20px;
    border:3px solid #ccc;
    top:-5px;

}
#progress_bar2{
    width:1000px;
    height:30px;
    position:absolute;
    left:0;
    top:0;
    border-radius:20px;
    background:-webkit-repeating-linear-gradient(135deg, #F0C 0%, #F0C 4%, #0FF 4%, #0FF 8%);
    background:repeating-linear-gradient(-45deg, #F0C 0%, #F0C 4%, #0FF 4%, #0FF 8%);

}
#num{
    display:block;
    width:30px;
    line-height:16px;
    position:absolute;
    z-index:10;
    font-size:20px;
    left:235px;
    top:7px;
    font-family:微软雅黑, serif;
}
#bigBox{
    width:500px;
    height:100px;
    margin:200px auto;
    position:relative;
    line-height:30px;
}
input[type="range"]{
    -webkit-box-shadow:0 1px 0 0 #424242, 0 1px 0 #060607 inset, 0 2px 10px 0 black inset, 1px 0 2px rgba(0, 0, 0, 0.4) inset, 0 0 1px rgba(0, 0, 0, 0.6) inset;
    margin-top:2px;
    background-color:#61de1d;
    border-radius:15px;
    width:150px;
    -webkit-appearance:none;
    height:5px;
    outline:none;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    cursor:default;
    top:-5px;
    height:20px;
    width:15px;
    -webkit-transform:translateY(-4px);
            transform:translateY(-4px);
    background:none repeat scroll 0 0 #61de1d;
    border-radius:15px;
    -webkit-box-shadow:0 -1px 1px black inset;
}