.bg-white {
    background: #fff;
}

.about-container {
    position: absolute;
    top: 430px;
    padding: 0;
}

.about-content {
    width: 60% !important;
    margin: 0 auto;
    background: #fff;
    padding: 0 5% 100px;
}

.about-context {
    padding-top: 50px;
    text-align: center;
    letter-spacing: 1px;
}

.about-context h4 {
    font-size: 24px;
}

.about-context .title-sec {
    font-size: 14px;
    padding-bottom: 10px;
}

.about-context .about-txt {
    font-size: 16px;
    margin-top: 10px;
    text-align: left;
    text-indent: 2em;
    color: #999;
}

.overview-des {
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
}

.overview-des .col-xs-4 p {
    text-align: center;
}

.overview-des .col-xs-4 p:nth-child(1) {
    font-size: 50px;
}

.overview-des .col-xs-4 p:nth-child(2) {
    font-size: 14px;
    color: #999;
}

.company-pic-box {
    padding: 30px 0;
}

.company-pic {
    padding: 3%;
}

.company-overview .details-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.company-overview .details-txt {
    font-size: 14px;
    color: #999;
}

.company-details {
    padding: 20px 0 30px;
    border-bottom: 1px solid #ddd;
}

.company-vision .about-txt {
    text-indent: 0;
}

.company-pic-box img {
    width: 100%;
    margin-bottom: 2em;
}

@media (max-width: 992px) {
    .about-content {
        padding: 0 5% 50px;
    }

    .about-context {
        padding-top: 40px;
        /* padding: 0 5% 50px; */
    }

    .about-context h4 {
        font-size: 20px;
    }

    .about-context .title-sec,
    .about-context .about-txt,
    .company-overview .details-txt {
        font-size: 14px
    }

    .overview-des .col-xs-4 p:nth-child(1) {
        font-size: 40px;
    }

    .overview-des .col-xs-4 p:nth-child(2) {
        font-size: 12px;
    }

    .company-overview .details-title {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .company-overview .details-title {
        text-align: center;
    }

    .about-context .title-sec,
    .about-context .about-txt,
    .company-overview .details-txt {
        line-height: 24px;
    }

    .about-content {
        width: 80% !important;
    }

    .compeny-product .pull-right {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .about-container {
        top: 90px;
    }

    .overview-des .col-xs-4 p:nth-child(1) {
        font-size: 28px;
    }
}

/* PC端 */
@media (min-width:768px) {
    .company-pic-box img {
        width: auto;
        margin-bottom: 0;
    }

    .about-content {
        width: 65% !important;
    }

    .company-overview .details-txt {
        font-size: 16px;
        padding-right: 4em;
        line-height: 28px;
    }

    .about-context .about-txt {
        line-height: 28px;
    }

}