body{
    font-family:"微软雅黑", Arial, Helvetica, sans-serif;
    background:#fafafa;
    height:2800px;
}
#clickStart{
    width:300px;
    height:200px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-150px;
    margin-top:-100px;
    text-align:center;
    font-size:16px;
}
#clickStart:hover #clickStart a img{
    padding:10px;

    border:1px solid #ccc;
}
.nav{
    width:100%;
    height:100px;
    line-height:100px;
    background:#000;
}
.nav .row [class*=col-md]{
    font-size:32px;
}
.icon a{
    display:block;
    text-align:center;
}
.banner{
    width:100%;
}
.bannerBox{
    width:100%;
    min-height:740px;
    position:relative;
    overflow:hidden;

}
.picContent{
    width:13440px;
    height:720px;
    position:absolute;
    top:0;
    left:0;
}
.picContent li{
    float:left;
}
.picContent li a img{
    width:100%;
    height:auto;
}
.picIndex{
    width:224px;
    position:absolute;
    bottom:0;
    left:50%;
    margin-left:-112px;
}
.picIndex li{
    width:20px;
    height:10px;
    float:left;
    border:1px solid #ccc;

    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border-radius:1px;
    text-indent:9999px;
    margin:0 5px;
}
.picActive{
    background:#000;
}


/*banner*/
.carBox{
    -webkit-box-shadow:0 2px 20px;
    -moz-box-shadow:0 2px 20px;
    box-shadow:0 2px 20px;
}
.carousel-control.left,.carousel-control.right{
    font-size:50px;
    line-height:720px;
    background-image:none;
}


/*main*/
.main{
    width:100%;
    height:auto;
    margin-top:30px;
}
.mainSection{
    width:100%;
    margin:0 auto;
}
.container h4{
    font-size:20px;
    font-weight:bold;
    margin-bottom:20px;
}
/*dropDownBaidu*/

.rela{
    position:relative;
}
.dropDownBaidu{
    margin:0 auto;
    height:300px;
}
.menuList{
    width:400px;
    position:absolute;
    top:29px;
    left:0;
    border:1px solid #ccc;
    text-indent:10px;
    cursor:default;
    display:none;
}
.textCont{
    width:400px;
    height:30px;
    line-height:30px;
    text-indent:10px;
}

/*picBaidu*/
.picBaidu{
    margin-bottom:20px;
}
.picCon img{
    width:180px;
    height:180px;
}
.picCon{
    width:570px;
}
.picCon li{
    float:left;
    margin:0 10px 10px 0;
    overflow:hidden;
    position:relative;
}
.picCon li span{
    width:180px;
    height:180px;
    background:#000;
    opacity:.3;
    position:absolute;
    left:-180px;
    top:0;
}










