/* 主色 #d70c25*/

/* common start */

p.text-indent {
    text-indent: 2em;
}

.btn-more {
    width: 110px;
    height: 28px;
    line-height: 28px;
    border-radius: 20px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    margin: 10px auto;
    background: #fff;
    color: #999;
}
.btn-more a {
    display: block;
}
/* common end */

/* header start */

header {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    /* overflow: hidden; */
}
.header-logo {
    background: #fff;
}
.logo {
    margin-left: 5%;
    width: 120px;
    z-index: 100001;
}

.navbar {
    position: absolute;
}

nav ul li {
    margin: 0px 10px;
    cursor: pointer;
    font-size: 14px;
}

#bs-navbar {
    position: absolute;
    right: 5%;
}

.navbar-header .navbar-toggle .icon-bar {
    background: #444;
    width: 24px !important;
    height: 3px !important;
}

.navbar-show,
.navbar-collapse {
    background: rgba(0, 0, 0, 0.7);
}

header nav ul li a {
    display: block;
    width: 100%;
}

nav ul li a {
    color: #fbfbfb;
    padding: 0 !important;
}

nav ul li {
    cursor: pointer;
}

nav ul li:hover {
    /* background: #fff; */
    background: rgba(216, 216, 216, 0.5);
}

nav ul li:hover a {
    color: #333;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 28px;
    height: 4px;
    /* border-radius: 1px; */
    background: #111;
}

.banner-text {
    position: absolute;
    left: 20%;
    top: 40%;
    display: none;
}

.banner-text-content {
    text-align: center;
}

.banner-text-content p:nth-child(1) {
    font-size: 22px;
    color: #d70c25;
    letter-spacing: 1px;
}

.banner-text-content p:nth-child(2) {
    font-size: 12px;
}

/* header end */

/* banner start */

.banner-content {
    position: relative;
    overflow: hidden;
}

.banner-box {
    transition: all .2s;
}

.banner-box li {
    width: 100%;
    float: left;
}

.switch-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4%;
}

.switch-btn span {
    display: inline-block;
    width: 24px;
    height: 4px;
    background: #ddd;
    cursor: pointer;
}

.switch-btn .active {
    border: 0 none;
    background: #d70c25;
}

/* banner end */

/* main start */

.main {
    padding-top: 40px;
    margin-top: 30px;
    display: inline-block;
    width: 100%;
}

.main .main-container,
.sk-container {
    width: 65%;
    margin: 0px auto;
}

.about .main-content {
    padding-right: 2em;
}

.about p {
    margin-bottom: 20px;
}

.section-title h4 {
    margin-bottom: 50px;
}

.section-title h4 span:nth-child(1) {
    color: #d70c25;
    font-size: 20px;
    font-weight: 600;
    display: table-cell;
    vertical-align: middle;
}

.section-title h4 span:nth-child(2) {
    color: #333;
    font-size: 14px;
    text-indent: 6px;
    display: table-cell;
    vertical-align: middle;
}

.main p {
    font-size: 14px;
    line-height: 24px;
    color: #999;
}

.jump-more a {
    display: block;
    background: #fff;
    font-size: 13px;
    border: 1px solid #e4e4e4;
    border-radius: 23px;
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
    width: 100px;
    text-align: center;
}

.jump-more a:hover {
    background: #d70c25;
    color: #fff;

}
.btn-more:hover{
    background: #d70c25;
 
}
.btn-more:hover a{
    color: #fff;
}

/* main end */

/* main - product start */

.product {
    background-color: #f2f2f2;
    padding-top: 100px !important;
    padding-bottom: 80px;
}

.product-box {
    position: relative;
}

.arrows-btn {
    min-width: 13px;
    position: absolute;
    top: 37%;
    transform: translateY(-50%);
    z-index: 9;
    cursor: pointer;
}

.arrows-btn.disabled {
    opacity: 0.2;
    cursor: no-drop;
}

.arrows-btn.left {
    left: 0;
}

.arrows-btn.right {
    right: 0;
}

.product-box-item {
    /* width: calc(33% - 10px);
    float: left;*/
    text-align: center;
    padding-bottom: 15px;
}

.product-box-img {
    background-color: #fff;
    position: relative;
}

.product-box-item:hover .btn-more {
    background: #d70c25;
    color: #fff;
}

.product-box-item:hover .img-mask {
    visibility: visible;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: #d70c25;
}

.product-box-img .img-mask {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 9;
    transition: all .2s ease-in-out;
}
.product-box-img .img-mask a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    width: 100%;
    height: 100%;
}
.product-box-btn {
    margin-top: 10px;
}

.product-box-btn p {
    font-size: 14px;
}

/* main - product end */

/* main - VISION start */

.switch-tab {
    border-bottom: 1px solid #d70c25;
    font-size: 16px;
    color: #999999;
    margin-bottom: 10px;
}

.switch-tab div {
    cursor: pointer;
    padding: 0 8px;
    transition: all .2s ease-in-out;
}

.switch-tab div a {
    color: #999;
}

.switch-tab .active {
    background: #d70c25;
    color: #fff;
}

.switch-tab .active a {
    color: #fff;
}

.switch-tab div:hover {
    background: #d70c25;
    color: #fff;
}

.switch-tab div:hover a {
    color: #fff;
}

.visiton-text .col-xs-12 {
    margin: 20px 0 30px;
    cursor: pointer;
    transition: box-shadow .36s ease-in-out;
}

.visiton-text .col-xs-12:hover {
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.04)
}

.visiton .col-xs-3 {
    position: relative;
    background-color: #999999;
    height: 108px;
    font-size: 12px;
    color: #fff;
}

.visiton .col-xs-3 p {
    letter-spacing: 0px;
    color: #fff;
}

.visiton .col-xs-3 p:last-child {
    position: absolute;
    bottom: 1.2em;
    width: 100%;
}

.visiton .col-xs-9 {
    height: 70px;
}

.visiton .col-xs-9 p:nth-child(2) {
    height: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 72px;
    line-height: 24px;
    color: #999;
}


.visiton .col-xs-3 p:first-child {
    padding-top: 30px;
    font-size: 2.8em;
}

.visiton .col-xs-3 p:last-child {
    font-size: 1em;
}

.visiton-text .col-sm-6:nth-child(2) .text-content {
    /* padding: 0 0 0 2em; */
}

.visiton .text-content {
    padding: 0 3em 0 2em;
}

.visiton .text-content p:nth-child(1) {
    font-size: 16px;
    color: #d70c25;
    line-height: 20px;
    height: 20px;
    margin-bottom: 10px;
}

.visiton .text-content p:nth-child(2) {
    font-size: 14px;
}

/* main - VISION end */

/* main advantage start */

.advantage {
    width: 100%;
    /* height: 400px; */
    background: url('../img/product_advantage.png') no-repeat;
    text-align: center;
    background-size: cover;
}

.advantage h4 span:nth-child(1) {
    color: #fff;
    font-size: 18px;
}

.advantage h4 span:nth-child(2) {
    color: #fff;
    font-size: 14px;
}

.advantage-title {
    padding-top: 50px;
}


.advantage-item {
    padding: 10px 0 30px 0;
    /* border: 1px solid rgba(0, 0, 0, 0); */
    transition: all .2s ease-in-out;
}

.advantage-item .border-animation {
    position: absolute;
    background: none;
    transition: all .2s ease-in-out;
    width: 0;
    height: 0;
}

.advantage-item .center-block {
    height: 110px;
}

.advantage-item .border-animation:nth-of-type(1) {
    top: 0;
    left: 0;
    border-top: 1px solid white;
}

.advantage-item .border-animation:nth-of-type(2) {
    top: 0;
    right: 0;
    border-right: 1px solid white;
}

.advantage-item .border-animation:nth-of-type(3) {
    bottom: 0;
    right: 0;
    border-bottom: 1px solid white;
}

.advantage-item .border-animation:nth-of-type(4) {
    bottom: 0;
    left: 0;
    border-left: 1px solid white;
}

.advantage-item:hover .border-animation:nth-of-type(1) {
    width: 100%;
}

.advantage-item:hover .border-animation:nth-of-type(2) {
    height: 100%;
}

.advantage-item:hover .border-animation:nth-of-type(3) {
    width: 100%;
}

.advantage-item:hover .border-animation:nth-of-type(4) {
    height: 100%;
}

.advantage-item p {
    color: #fff !important;
    font-size: 14px;
}

.advantage-item p:last-child {
    font-size: 12px;
    opacity: 0.5;
    margin-top: 5px;
}

/* main advantage end */

/* main customers start */

.customers .col-xs-4 {
    display: inline-block;
    margin-left: -4px;
    float: none;
}

/* main customers end */

/* footer start */

.footer {
    background-color: #636160;
    margin-top: 50px;
}

.footer .row {
    width: 90%;
    margin: 0 auto;
    padding: 15px 0;
}

.footer ul {
    display: flex;
}

.footer nav li {
    flex: 1;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer li a {
    color: #fff;
    vertical-align: -webkit-baseline-middle;
}

.footer .code {
    color: #fff;
    text-align: center;
}

.footer .code p {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    letter-spacing: 0;
    font-size: 13px;
}

.code img {
    /* width: 70px; */
    margin-bottom: 10px;
}

.footer-contact {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    letter-spacing: 0px;
}

.footer .copyright {
    width: 100%;
    line-height: 40px;
    padding: 0;
    text-align: center;
    background-color: #5a5a5a;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}

/* footer end */


/* contact start */
.contact {
    position: fixed;
    width: 190px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.contact-title {
    position: relative;
    background: #bb091f;
    color: #fff;
    line-height: 40px;
    text-indent: 1em;
}

.contact-btn {
    position: absolute;
    background-color: #d70c25;
    left: -35px;
    width: 35px;
    height: 40px;
    background-image: url(../img/arrows.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    background-size: 40%;
}

.contact-info {
    background: #f2f2f5;
    color: #d70c25;
    font-size: 12px;
}

.contact-info div {
    padding: 5px 10px;
}

.info-email:before {
    content: '';
    display: inline-block;
    background: url(../img/email.png) no-repeat;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.info-tel:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/tel.png) no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}


/* contact end */

.back-top {
    position: fixed;
    right: 0;
    bottom: 10%;
    background-image: url(../img/back_top_red.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #d70c25;
    background-size: 70%;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: all .1s ease-in-out;
    display: none;
}

.footer .footer-contact {
    display: table-cell;
    vertical-align: middle;
}

.footer ul {
    margin-bottom: 10px;
}

/* 分页插件 */
.pagination li span {
    color: #999;
    cursor: pointer;
}

.pagination .active span,
.pagination .active span:hover {
    background: #d70c25;
    color: #fff;
    border-color: #d70c25;
}

/* 分页插件 end*/



/* 768888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888 */

@media (min-width: 768px) {
    .visiton .text-content p:nth-child(1) {
        font-size: 18px;
        margin: 10px 0 15px 0;
    }

    .visiton .text-content p:nth-child(2) {
        font-size: 14px;
    }

    p.text-indent {
        font-size: 14px !important;
    }

    .footer {
        margin-top: 80px;
    }

    .visiton .col-xs-3 {
        height: 124px;
    }

    .visiton .col-xs-3 p:first-child {
        padding-top: 36px;
    }

    .visiton-text .col-sm-6:nth-child(2) .text-content {
        /* padding: 0 0 0 2em !important; */
    }

    .main {
        margin-top: 70px;
    }

    .product {
        padding-top: 80px;
    }

    .back-top:hover {
        background-color: #d70c25;
        background-image: url(../img/back_top_white.png);
    }

    .pad-l-10 {
        padding-left: 10px;
    }

    .navbar .container {
        position: relative;
    }

    .navbar-collapse {
        position: absolute;
        right: 0;
        top: 30px;
    }

    .navbar-collapse ul li {
        border-bottom: 3px solid rgba(0, 0, 0, 0);
    }

    .navbar-collapse ul li.active,
    .navbar-collapse ul li:hover {
        border-bottom: 3px solid #d70c25;
        background: none;
    }

    .logo {
        width: 200px;
    }

    .navbar-collapse ul li {
        float: left;
    }

    .navbar-collapse ul a {
        color: #333;
        font-size: 16px;
    }

    .navbar-show,
    .navbar-collapse {
        background: none;
    }

    .about p {
        font-size: 14px;
    }

    .about .hidden-xs p {
        margin: 0;
    }

    .about .btn-more {
        margin: 10px 0;
    }

    .product-box-btn p {
        font-size: 16px;
    }

    .switch-tab div {
        padding: 2px 7px;
    }

    .switch-tab {
        font-size: 18px;
    }

    .visiton .text-center {
        font-size: 14px;
    }

    .visiton .col-xs-9 {
        height: 86px;
    }

    .advantage-box {
        padding: 50px 0 100px;
    }

    .advantage-item p {
        color: #fff;
        font-size: 15px;
    }

    .advantage-item p:last-child {
        font-size: 13px;
    }

    .advantage-item .center-block {
        height: 120px;
    }

    .customers-box li {
        width: 20% !important;
    }

    .customers-box li img {
        max-width: 99.9%;
    }

    .section-title h4 span:nth-child(1) {
        font-size: 28px;
    }

    .section-title h4 span:nth-child(2) {
        font-size: 18px;
    }

    .product-box {
        width: calc(100% - 50px);
        position: relative;
        overflow: hidden;
        margin-left: 20px;
    }

    .product-slider-box {
        position: relative;
        left: 0;
        transition: all .3s ease-in-out;
    }

    .product-box-item {
        padding-left: 9px;
    }

    .banner-text-content p:nth-child(1) {
        font-size: 28px;
        color: #d70c25;
        letter-spacing: 1px;
    }

    .banner-text-content p:nth-child(2) {
        font-size: 13px;
    }

    .banner-text-content .btn-more {
        margin-top: 20px;
    }

    .footer ul {
        padding-top: 15px;
        display: block;
    }

    .footer ul li {
        float: left;
        margin-right: 30px;
        padding-bottom: 5px;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
    }

    .footer ul li:hover {
        background: none;
        border-bottom: 3px solid #fff;
        color: #fff;
    }

    .footer ul li:hover a {
        color: #fff;
    }

    .footer ul li a {
        font-size: 16px;
    }

    .footer .row:nth-child(1) {
        width: 65%;
    }

    .footer .code p {
        font-size: 16px;
    }

    .contact-btn {
        width: 40px;
        height: 40px;
        background-size: 45%;
    }
}

/* 999999999999999999999999999999999999999999999992 */

@media (min-width: 992px) {
    .logo {
        width: 220px;
    }

    .about p {
        font-size: 14px;
    }

    .advantage-item .center-block {
        height: 130px;
    }

    header nav ul li {
        margin: 0px 20px;
    }

    .footer .footer-contact {
        font-size: 16px;
        height: 90px;
    }

    .footer .copyright {
        font-size: 14px;
    }

    .code img {
        font-size: 100px;
    }

    .advantage-item p {
        color: #fff;
        font-size: 18px;
    }

    .advantage-item p:last-child {
        font-size: 14px;
    }

    .banner-text-content p:nth-child(1) {
        font-size: 28px;
    }

    .banner-text-content p:nth-child(2) {
        font-size: 13px;
    }

    .visiton .text-content p:nth-child(1) {
        font-size: 18px;
        margin: 10px 0 15px 0;
    }

    .visiton .text-content p:nth-child(2) {
        font-size: 14px;
    }

    p.text-indent {
        font-size: 14px !important;
    }
}

/* 1200000000000000000000000000000000000000000000 */

@media (min-width: 1200px) {
    .advantage-item {
        width: 20%;
    }

    .section-title h4 span:nth-child(1) {
        font-size: 30px;
    }

    .section-title h4 span:nth-child(2) {
        font-size: 22px;
    }

    .banner-text-content p:nth-child(1) {
        font-size: 36px;
    }

    .banner-text-content p:nth-child(2) {
        font-size: 17px;
    }

    header nav ul li {
        margin: 0 30px;
    }

    .footer ul li a {
        font-size: 18px;
    }

    .footer ul li {
        margin-right: 40px;
    }

    .about p.text-indent {
        line-height: 1.5em;
    }
}

@media (min-width: 1460px) {
    .about p.text-indent {
        line-height: 2em;
    }
}

/* 768888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888 */

@media (max-width: 640px) {
    .navbar-header .navbar-toggle .icon-bar {
        height: 2px !important;
        background: #888 !important;
    }

    .main .main-container,
    .sk-container {
        width: 90%;
    }

    .banner-text {
        left: 17%;
        top: 44%;
    }

    .banner-text-content p:nth-child(1) {
        font-size: 20px;
    }

    .banner-content .btn-more {
        width: 90px;
        height: 24px;
        line-height: 24px;
        font-size: 10px;
    }
}

@media (max-width: 768px) {

    .main .main-container,
    .sk-container {
        width: 90%;
    }

    header #navContainer {
        width: 50%;
        margin: 0;
        float: right;
        position: fixed;
        right: 0;
        padding: 0;
    }

    .about .btn-more {
        margin-top: 20px;
    }

    .visiton .text-content {
        padding: 0 0 0 1em;
    }

    .logo {
        width: 200px;
    }

    .navbar-toggle.collapsed {
        margin-right: 30px;
    }

    .navbar-header.navbar-show {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    header nav ul li {
        padding: 8px 0;
        margin: 0;
        text-indent: 1.5em;
    }

    #navContainer nav {
        padding: 0;
        height: 100% !important;
        transition: unset;
        border: 0 none !important;
        width: 100%;
        right: 0;
        left: 15px;
    }

    .about .main-content {
        padding-right: 0;
    }

    .contact {
        right: -190px;
    }

    .contact-btn {
        transform: rotateY(180deg);
    }

    .back-top {
        transform: scale(0.7);
    }

    .footer .col-xs-9 {
        padding-right: 1.5em;
    }
    .visiton .text-content p:nth-child(1) {
        font-size: 20px;
        margin: 10px 0 15px 0;
    }

    .visiton .text-content p:nth-child(2) {
        font-size: 16px;
    }

    p.text-indent {
        font-size: 16px !important;
    }
}

@media (max-width: 480px) {
    .banner-text-content p:nth-child(1) {
        font-size: 16px;
    }

    .switch-tab .tab-item {
        padding: 2px 5px;
    }

    .footer {
        font-size: 12px;
    }

    .footer li a {
        font-size: 14px;
    }

    .section-title h4 span:nth-child(1) {
        font-size: 20px;
    }

    .section-title h4 span:nth-child(2) {
        font-size: 16px;
    }

    .logo {
        width: 100px;
    }

    .visiton .col-xs-3 p:last-child {
        font-size: 1em;
    }

    .visiton .col-xs-3 p:first-child {
        font-size: 2.5em;
    }

    .banner-text-content p:nth-child(1) {
        font-size: 14px;
    }

    .banner-content .btn-more {
        width: 84px;
        height: 18px;
        line-height: 16px;
        font-size: 0.6em;
    }

    .btn-more {
        width: 100px;
        height: 20px;
        line-height: 20px;
        font-size: 0.7em;
    }

}

@media (max-width: 320px) {
    .banner-content {
        height: 165px;
    }
}



/* 详情页样式 */
.details-content {
    font-size: 14px;
}

.ifm-footer {
    /* transform: translateY( 6px); */
}