.sk-container {
    margin: 50px auto;
}

.scheme-tab-list {
    margin-bottom: 30px;
}

.scheme-tab-list li {
    font-size: 16px;
    float: left;
    color: #999;
    padding: 3px 0px;
    cursor: pointer;
}

.scheme-tab-list li:last-child span {
    border: 0 none;
}

.scheme-tab-list span {
    padding: 0px 20px;
}

.scheme-tab-list .active {
    color: #fff;
    background: #d70c25;
}

.scheme-content .col-xs-12 {
    margin-bottom: 40px;
    cursor: pointer;
    padding: 0 0 10px 0;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0);
    transition: all 0.36s ease;
    overflow: hidden;
}

.scheme-content .box-hover:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08)
}

.scheme-content .box-hover:hover .list-img-box img {
    transform: scale(1.08);
}

.scheme-content .box-hover:hover .list-title,
.scheme-content .box-hover:hover .list-sec {
    padding-left: 8px;
}


.scheme-content .box-hover:hover .list-btn-more {
    background: #d70c25;
    color: #fff;
    border-color: #fff;
}

.scheme-content .box-hover:hover .list-btn-more i {
    color: #fff;
}


.list-img-box img {
    transform: scale(1);
    transition: all 0.36s ease;
}

.list-img-box {
    overflow: hidden;
}

.scheme-content .list-title {
    color: #666;
    margin: 10px 20px 20px 20px;
    transition: all .36s ease-out;
    padding-left: 0px;
}

.scheme-content .list-sec {
    color: #999;
    font-size: 12px;
    border-bottom: 1px solid #f0f0f0;
    margin: 0px 20px;
    margin-bottom: 20px;
    transition: all .36s ease-out;
    padding-left: 0px;
    padding-bottom: 20px;
}

.scheme-content .list-btn-more {
    width: 60px;
    text-align: center;
    color: #999;
    font-size: 14px;
    border: 1px solid #e9e9e9;
    cursor: pointer;
    margin-left: 20px;
    transition: all 0.36s ease;
    background: #fff;
}

.scheme-content .list-btn-more i {
    font-size: 12px;
    color: #999;
    margin-left: 2px;
    transition: all 0.36s ease;
}


.scheme-content .col-xs-12 .list-title span {
    font-size: 16px;
}

.scheme-content .col-xs-12 .list-sec span {
    font-size: 14px;
}

/* PC */
@media (min-width: 768px) {
    .footer {
        margin-top: 40px;
    }

    .pagination {
        margin-top: 50px;
    }

    .scheme-tab-list li {
        font-size: 20px;
    }

    .scheme-content .col-sm-4 {
        width: calc(33.3333% - 20px);
        margin-right: 20px;
    }

    .scheme-content .col-xs-12 .list-title span {
        font-size: 20px;
    }

    .scheme-content .col-xs-12 .list-sec span {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .list-title {
        text-align: center;
    }
    .list-img-box img {
        width: 80%;
    }
}